Repository bigchaindb/bigchaindb, pull requests merged in 2018-06, with the labels that each got.

#2324 Copy-edited & updated the page on Running a Local Dev Node as Processes
  docs/contributing/source/dev-setup-coding-and-contribution-process/run-node-as-processes.md
Labels: docs

#2331 Problem: nginx_container document is incorrect
  k8s/bigchaindb/nginx_container/README.md
Labels: waiting for external

#2330 Problem: Appendices page 'The Bigchain Class' not Updated for Tendermint
  docs/server/source/appendices/index.rst
  docs/server/source/appendices/the-Bigchain-class.rst
  docs/server/source/appendices/the-bigchaindb-class.rst
Labels: docs

#2312 Copyedit simple-network-setup completeness & grammar
  docs/server/source/simple-network-setup.md
Labels: docs

#2340 Problem: README.md is outdated & has broken links
  README.md
Labels: docs

#2346 Problem: No diagrams of transactions in docs
  docs/root/source/_static/CREATE_and_TRANSFER_example.png
  docs/root/source/_static/CREATE_example.png
  docs/root/source/transaction-concepts.md
Labels: docs

#2353 Problem: © year out-of-date in footer of docs
  docs/contributing/source/conf.py
  docs/root/source/conf.py
  docs/server/source/conf.py
Labels: docs

#2352 Problem: Users need more help querying mongodb
  docs/root/source/query.rst
Labels: docs, mongodb
