Repository bigchaindb/bigchaindb, pull requests merged in 2018-03, with the labels that each got.

#2082 Problem: tendermint is started by default
  bigchaindb/tendermint/commands.py
Labels: tendermint

#2108 Problem: Inconsistent treatment of storageAccount across two storageClasses
  k8s/tendermint/tendermint-sc.yaml
Labels: k8s-deployment, tendermint

#2111 Edited the "Overview" page in Production Deployment Template for clarity
  docs/server/source/production-deployment-template/workflow.rst
Labels: docs, tendermint

#2112 Problem: User gets error about "Service Principal" when they try to deploy a k8s cluster on Azure
  docs/server/source/production-deployment-template/template-kubernetes-azure.rst
Labels: docs, tendermint

#2113 Problem: The node-on-kubernetes docs aren't just for a "stand-alone" node
  docs/server/source/production-deployment-template/node-on-kubernetes.rst
Labels: docs, k8s-deployment, tendermint

#2071 Copy-edited the HTTP API docs
  docs/server/source/http-client-server-api.rst
Labels: tendermint

#2079 Problem: exchange pubsub doesn't start on boot
  bigchaindb/tendermint/commands.py
Labels: tendermint

#2132 Problem: UTXO implementation unfinished for release.
  bigchaindb/tendermint/lib.py
  tests/tendermint/test_core.py
  tests/tendermint/test_lib.py
Labels: tendermint

#2119 New docs set on "Contributing to BigchainDB"
  docs/contributing/Makefile
  docs/contributing/requirements.txt
  docs/contributing/source/conf.py
  docs/contributing/source/cross-project-policies/code-of-conduct.md
  docs/contributing/source/cross-project-policies/index.rst
  docs/contributing/source/cross-project-policies/js-style-guide.md
  docs/contributing/source/cross-project-policies/python-style-guide.md
  docs/contributing/source/cross-project-policies/release-process.md
  docs/contributing/source/cross-project-policies/shared-workspace.md
  docs/contributing/source/index.rst
  docs/contributing/source/ways-can-contribute/answer-questions.md
  docs/contributing/source/ways-can-contribute/index.rst
  docs/contributing/source/ways-can-contribute/issue-rules.md
  docs/contributing/source/ways-can-contribute/vanshdeep-notes.md
  docs/contributing/source/ways-can-contribute/write-a-bep.md
  docs/contributing/source/ways-can-contribute/write-code.rst
  docs/contributing/source/ways-can-contribute/write-docs.md
Labels: docs, env: development, tendermint

#2145 Problem: Unwanted env var BIGCHAINDB_START_TENDERMINT in docker-compose
  docker-compose.yml
Labels: optimization, tendermint
